<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>adminHomepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div id="portal"><h3>admin portal</h3>
<br>
<button id="manageStudentsButton" class="optionButton">manage students</button>
<button id="manageTeachingAssistantsButton" class="optionButton">manage teaching assistants</button>
<button id="manageRequestsButton" class="optionButton">view requests</button>
<button id="manageResourceGroupsButton" class="optionButton">view resourceGroups</button>
<button id="settingsButton" class="optionButton">settings</button>
<button id="logout">logout</button>
</div>
<div id="manageStudents" class="section container-fluid" ></div>
<div id="manageTeachingAssistants" class="section container-fluid" ></div>
<div id="manageRequests" class="section container-fluid" ></div>
<div id="manageResourceGroups" class="section container-fluid" ></div>
<div id="settings" class="section container-fluid" ></div>
<div id="resetPassword" class="container-fluid d-none">
    <hr/>
    <p>reset password</p>
    <form>
        <label for="fname">confirm original password</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">new password</label><br>
        <input type="text" id="lname" name="lname">
    </form>
    <button id="resetPasswordButton">confirm</button>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous"></script>
<script>
    $("#logout").on("click", function () {
        $.ajax({
            url: "/login/logout",
            type: "GET",
            success: function() {
                window.location = "/loginPage.html"
            }
    })});
    var optionButtons = $(".optionButton");
    optionButtons.on("click", function () {
        var sections = $(".section");
        sections.empty();
        $("#resetPassword").addClass("d-none");
    })
</script>
<script src="/js/adminManageStudents.js"></script>
<script src="/js/adminManageTeachingAssistants.js"></script>
<script src="/js/adminManageRequests.js"></script>
<script src="/js/adminManageResourceGroups.js"></script>
<script src="/js/adminSettings.js"></script>
</html>