<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>studentHomepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"></head>
<body>
<div id="portal"><h3>student portal</h3></div>
<button id="makeAppointmentButton" class="optionButton">make appointment</button>
<button id="viewAppointmentButton" class="optionButton">view appointments</button>
<button id="settingsButton" class="optionButton">settings</button>
<button id="logout">logout</button>
<div id="makeAppointment" class="section container-fluid" ></div>
<div id="teachingAssistants" class="container"></div>
<div id="makeAppointmentForm" class="container d-none">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">title</label>
            <textarea class="form-control" id="exampleFormControlInput1" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">AppointmentType</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>DEFAULT</option>
                <option>QUERY</option>
                <option>COURSEWORK</option>
                <option>OTHER</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description of appointment</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</div>
<div id="viewAppointment" class="section container-fluid" ></div>
<div id="settings" class="section container-fluid" ></div>
<div id="resetPassword" class="container-fluid d-none">
    <hr/>
    <p>reset password</p>
    <form>
        <label for="fname">confirm original password</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">new password</label><br>
        <input type="text" id="lname" name="lname">
    </form>
    <button id="resetPasswordButton">confirm</button>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous"></script>
<script>
    $("#logout").on("click", function () {
        $.ajax({
            url: "/login/logout",
            type: "GET",
            success: function() {
                window.location = "/loginPage.html"
            }
        })});
    var optionButtons = $(".optionButton");
    optionButtons.on("click", function () {
        var sections = $(".section");
        sections.empty();
        $("#teachingAssistants").empty();
        $("#resetPassword").addClass("d-none");
        $("#makeAppointmentForm").addClass("d-none");
    })
</script>
<script src="/js/studentAppointments.js"></script>
<script src="/js/studentSettings.js"></script>
</html>